@media screen and (max-width: 1024px) {
  .mininoob2block {
    gap: 10px;
  }
  .color {
    height: 150px;
  }
  .O_Header {
    height: 4.5vw;
    border-radius: 3vw;
    padding: 1vw;
    .A_HeaderText {
      font-size: 1.2vw;
      display: flex;
      align-items: center;
      .A_HeaderText {
        width: 20vw;
        height: 5vh;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mininoob2block {
    gap: 5px !important;
  }

  .place_setka {
    width: 100% !important;
  }

  .O_Header {
    height: 6vw;
    border-radius: 4vw;
    padding: 1.5vw;
    .A_HeaderText {
      font-size: 1.6vw;
      width: 30vw;
      height: 3vh;
      border-radius: 30vw;
    }
  }
  .A_title {
    font-size: large !important;
    transform: translateY(-500%) !important;
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 480px) {
  body {
    .mininoob2block {
      gap: 2px !important;
    }

    .place_photo1,
    .place_photo2,
    .place_photo3 {
      width: 80% !important;
    }
    .O_Header {
      height: 10vw;
      display: flex;
      justify-content: center;
      gap: 8vw;
      border-radius: 6vw;
      padding: 2vw;
      transform: translate(-0%, -0%);
      left: 5%;
      .A_HeaderText {
        font-size: 2.5vw !important;
        border-radius: 30vw;
        width: 8vw;
        height: 3vw;
      }
    }

    .M_DescriptionBlock {
      font-size: 1.5rem;
      padding: 16px;
    }

    .A_title {
      font-size: large;
      transform: translateY(-1100%);
    }
    .mockup {
      width: 90vw;
    }

    .C_TegBars {
      overflow: hidden;
    }
    footer {
      overflow: hidden;
    }

    .A_Icon {
      width: 80px;
      height: 80px;
      margin-top: 27%;
    }
    .A_Cover {
      height: 150px;
    }
    .A_Icon img {
      width: 30px;
      height: 30px;
    }
    .A_TitleArticle1 {
      font-size: 18px;
    }
    .A_TitleArticle2 {
      font-size: 16px;
    }

    .W_AllCardCategories {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .O_CardCategoriesSmall {
        min-width: 370px;
      }

      .O_CardCategories {
        min-width: 370px;

        .A_CategoryImg img {
          width: 70vw;
        }
      }
    }

    .S_Header_Main_All {
      padding: 16px 16px 16px;
      width: 90vw;
      gap: 2vw;
    }

    .W_CategoryCard {
      min-width: 370px;
    }

    .C_CardsArticle {
      flex-direction: column;
      justify-content: center;

      .O_CardArticles {
        min-width: 370px;
      }
    }

    .S_Article {
      flex-direction: column;
      padding: 20px;
    }

    .M_TitleArticle {
      p {
        width: 90vw;
      }
    }

    .O_Telegram {
      flex-direction: column;

      .M_Telegram {
        flex-direction: column;
      }
    }

    .C_MiniGuide {
      padding: 10vw;
      justify-content: center;

      .O_CardGuide {
        min-width: 370px;
      }
    }

    .W_ChannelImg {
      gap: 4vw;
    }

    .O_CardDictionari {
      width: 400px;
      height: 200px;
    }

    .A_LogoForm img {
      width: 50vw;
    }
  }
}
