@media screen and (max-width: 1024px) {
  .mininoob2block {
    gap: 10px !important; /* Значение для средних экранов */
  }
  .color {
    height: 150px !important;
  }
  .O_Header {
    height: 4.5vw;
    width: 55vw;
    border-radius: 3vw;
    padding: 1vw;
    .A_HeaderText {
      font-size: 1.2vw;
      display: flex;
      align-items: center;
      .A_HeaderText {
        width: 20vw;
        height: 5vh;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mininoob2block {
    gap: 5px !important;
  }

  .place_setka {
    width: 100% !important;
  }

  .O_Header {
    height: 6vw;
    width: 60vw;
    border-radius: 4vw;
    padding: 1.5vw;
    .A_HeaderText {
      font-size: 1.6vw;
      width: 30vw;
      height: 3vh;
      border-radius: 30vw;
    }
  }
  .A_title {
    font-size: large !important;
    transform: translateY(-500%) !important;
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 480px) {
  .mininoob2block {
    gap: 2px !important;
  }

  .place_photo1,
  .place_photo2,
  .place_photo3 {
    width: 80% !important;
  }
  .O_Header {
    height: 10vw;
    width: 90vw;
    border-radius: 6vw;
    padding: 2vw;
    .A_HeaderText {
      font-size: 2.5vw !important;
      border-radius: 30vw;
    }
  }

  .A_title {
    font-size: large !important;
    transform: translateY(-1100%) !important;
  }
  .mockup {
    width: 90vw !important;
  }
}
