@media screen and (max-width: 1024px) {
  body {
  }
}

@media screen and (max-width: 768px) {
  body {
    .A_title {
      font-size: large !important;
      transform: translateY(-500%) !important;
      font-size: 1.5vw;
    }
  }
}

@media screen and (max-width: 480px) {
  body {
    .mininoob2block {
      gap: 2px !important;
    }

    .place_photo1,
    .place_photo2,
    .place_photo3 {
      width: 80% !important;
    }
    .O_Header {
      height: 10vw;
      display: flex;
      justify-content: center;
      gap: 8vw;
      border-radius: 6vw;
      padding: 2vw;
      transform: translate(-0%, -0%);
      left: 5%;
      .A_HeaderText {
        font-size: 2.5vw !important;
        border-radius: 30vw;
        width: 8vw;
        height: 3vw;
      }
    }

    .M_DescriptionBlock {
      font-size: 1.5rem;
      padding: 16px;

      .content {
        display: block;
        line-height: 1.8rem;

        .icon {
          width: 20px;
          height: 20px;
        }
      }
    }

    .A_MainTitle {
      -webkit-text-stroke: 0px;
    }

    .S_MainBlock {
      .move-area {
        height: 100vh;
      }
    }

    .A_title {
      display: none;
    }
    .mockup {
      width: 90vw;
    }

    .C_TegBars {
      overflow: hidden;
    }
    footer {
      overflow: hidden;
    }

    .A_Icon {
      width: 80px;
      height: 80px;
      margin-top: 27%;
    }
    .A_Cover {
      height: 150px;
    }
    .A_Icon img {
      width: 30px;
      height: 30px;
    }
    .A_TitleArticle1 {
      font-size: 36px;
    }
    .A_TitleArticle2 {
      font-size: 36px;
    }

    .W_AllCardCategories {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .O_CardCategoriesSmall {
        min-width: 370px;
      }

      .O_CardCategories {
        min-width: 370px;

        .A_CategoryImg img {
          width: 70vw;
        }
      }
    }

    .S_Header_Main_All {
      padding: 16px 16px 16px;
      width: 90vw;
      gap: 6vw;
    }

    .W_CategoryCard {
      min-width: 370px;
    }

    .C_CardsArticle {
      justify-content: center;
      padding: 0px;

      .O_CardArticles {
        min-width: 180px;
        height: 220px;
        align-items: normal;

        img {
          width: 100%;
          height: 100px;
          object-fit: cover;
        }

        .M_CardText {
          padding: 10px 10px 10px 10px;
          h3 {
            font-size: 1rem;
          }
          .tags {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 1vw;
            overflow: hidden;
          }
          span {
            font-size: 0.6rem;
          }
        }
      }
    }

    .S_Article {
      flex-direction: column;
      padding: 20px;
      .A_Tag {
        font-size: 1rem;
      }
    }

    .O_Telegram {
      margin: 0px 0px 0px 20px;

      .M_Telegram {
        font-size: 2rem;
        gap: 6vw;
      }
      .A_Subscribe {
        display: none;
      }
    }

    .S_Articles_Main_Block {
      padding: 30px 0 0;
    }
    .A_LogoForm {
      margin-top: -100vw;
    }

    .C_MiniGuide {
      padding: 30px 0px 30px 0px;
      justify-content: center;

      .O_CardGuide {
        width: 180px;
        height: 260px;
        padding: 12px 12px 20px;

        h1 {
          font-size: 1.2rem;
        }
      }
    }

    .S_Channel {
      padding: 120px 0;

      .A_IdeaForPost {
        display: none;
      }
    }

    .O_CardDictionari {
      width: 400px;
      height: 200px;
    }

    .A_LogoForm img {
      width: 50vw;
    }

    section {
      padding: 10vw 0;
    }

    .S_Article {
      gap: 14vw;

      .W_TitleArticle {
        p {
          width: 90vw;
          font-size: 1rem;
        }
        .M_ArticleText {
          flex-direction: column;
        }
      }
    }

    .readarticle {
      display: none;
    }

    h2 {
      font-size: 4rem;
    }
    .M_TextForm {
      .A_TextForm {
        text-align: center;
      }
    }

    .W_FormImages {
      gap: 6vw;
      #O_Form {
        padding: 0 2vw;
      }
    }
  }
}
