h2 {
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "SFT-Schrifted-Serif-T";
  -webkit-text-stroke: 1px;
  -webkit-font-smoothing: antialiased;
  line-height: 90%;
}

//multiselect

.S_MultiSelect {
  width: 100%;
  height: 90vh;
  background-color: #fff;
}

.W_ArticleHeader {
  display: flex;
  justify-content: space-between;
}

.A_Cover {
  width: 100%;
  height: 20vw;
  background: #ff5c39;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 2vw 2vw;
}

.A_Icon {
  position: absolute;
  width: 9vw;
  margin-top: 15%;
  margin-left: 6%;
  height: 9vw;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow: hidden;
  border: 1px solid #1a1a1d;
}

.A_Icon img {
  width: 100px;
  height: 100px;
}

.O_TitleArticleTeg {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20%;
  width: 100%;
  padding: 6% 6% 3%;
}

.M_TitleArticle {
  margin-bottom: 10px;
}

.A_TitleArticle1 {
  font-size: 62px;
  font-weight: bold;
}

.A_TitleArticle2 {
  font-size: 62px;
  font-style: italic;
  font-family: "SFT-Schrifted-Serif-T";
  color: #222;
}

.C_Tegs {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
}

.A_Tag {
  padding: 8px 18px;
  font-family: "Forma DJR Cyrillic Micro", sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  line-height: normal;
  border-radius: 60px;
  border: none;
  cursor: pointer;
}

.A_Tag:first-child {
  background: #3d1d0e;
  color: white;
}

.A_Tag:last-child {
  background: white;
  border: 1px solid black;
  color: black;
}

@media (max-width: 480px) {
  .A_Icon {
    width: 80px;
    height: 80px;
    margin-top: 27%;
  }
  .A_Cover {
    height: 150px;
  }
  .A_Icon img {
    width: 30px;
    height: 30px;
  }
  .A_TitleArticle1 {
    font-size: 18px;
  }
  .A_TitleArticle2 {
    font-size: 16px;
  }
}

.O_BreakerOpinion {
  margin-left: 6%;
  display: flex;
  align-items: flex-start;
  justify-content: normal;
  width: 86vw;
  background: white;
  border-radius: 16px;
  border: 1px solid black;
  padding: 16px;
  box-shadow: 0px 6px 0px black;
}

.M_Name {
  display: flex;
  align-items: center;
  gap: 12px;
}

.A_Name {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.A_UserPhoto img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.A_NameBig {
  font-weight: bold;
  font-family: "Forma DJR Cyrillic Micro", sans-serif;
  font-size: 22px;
  color: black;
}

.A_Profession {
  font-size: 18px;
  font-family: "Forma DJR Cyrillic Micro", sans-serif;
  color: #666;
}

.M_Description {
  font-size: 22px;
  width: 50vw;
  font-style: italic;
  font-family: "SFT-Schrifted-Serif-T";
  line-height: 1.5;
  margin-left: 60px;
}

.O_ArticleText {
  width: 86vw;
  margin-left: 6%;
  margin-top: 4vw;
  gap: 2vw;
  background: white;
}

.M_HeaderArticle {
  display: flex;
  font-size: 24px;
  align-items: center;
  gap: 20px;
  padding: 0px 0px 45px 0px;
}

.M_HeaderArticle h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 18px;
}

.A_Divider {
  flex-grow: 1;
  height: 1px;
  background: black;
}

.M_Content {
  padding-left: 21%;
  width: 70vw;
}

.M_Content p {
  font-size: 20px;
  line-height: 26px;
  margin: 18px 0 22px;
}

.M_Content ul {
  margin-left: 20px;
  padding-left: 0;
}

.M_Content li {
  font-size: 18px;
  line-height: 1.5;
  list-style-type: disc;
}

.O_Quote {
  background: #f2f8fd;
  width: 86vw;
  margin-left: 6%;
  padding: 16px 24px;
  border-radius: 16px;
  border: 1px solid black;
  display: inline-block;
  font-size: 32px;
  font-style: italic;
  font-family: "SFT-Schrifted-Serif-T";
  line-height: normal;
  margin: 45px;
}

.O_Images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 6%;
  width: 86vw;
  margin: 45px 6%;
}

.M_Image {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.M_Image img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  display: block;
}

.M_Image p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.W_Images {
  display: flex;
  gap: 20px;
}

.O_Telegram {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #fccaca, #ff5c39);
  border-radius: 30px;
  text-decoration: none;
  color: black;
  font-size: 32px;
  font-style: italic;
  font-family: "SFT-Schrifted-Serif-T";
  line-height: normal;
  margin: 45px;
  width: 86vw;
  margin-left: 6%;
  padding: 16px 24px;
  border: 1px solid black;

  gap: 12px;
}

.M_Telegram {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.A_Subscribe {
  background: black;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: "Forma DJR Cyrillic Micro", sans-serif;
}

.A_Subscribe:hover {
  background: #333;
}

.M_Authors {
  display: flex;
  width: 50vw;
  gap: 4vw;
  justify-content: space-between;
}

.A_AuthorsPhoto img {
  width: 120px;
  height: 120;
  border-radius: 50%;
  object-fit: cover;
}

.M_NameAuthors {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  flex-direction: column;
}

.A_ArticleText {
  font-size: 52px;
  font-style: italic;
  font-family: "SFT-Schrifted-Serif-T";
  line-height: normal;
  -webkit-text-stroke: 1px;
}
.S_Recomendation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #f2f8fd;
  padding: 4% 0 10%;
  margin-top: 6%;
}
