* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
body {
  font-family: "Forma DJR Cyrillic Micro", "Forma DJR Cyrillic Display";
  font-weight: 400;
}
/* Шрифты */

h2 {
  font-size: 7rem;
  margin-bottom: 10px;
  font-family: "SFT-Schrifted-Serif-T";

  line-height: 90%;
}

h4 {
  color: #050505;
  text-align: center;
  font-family: "Forma DJR Cyrillic Display";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
}

h5 {
  color: #050505;
  font-family: "Forma DJR Cyrillic Display";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
}

h6 {
  color: var(--BLACK, #050505);
  text-align: center;
  font-family: "SFT Schrifted Serif TRIAL T";
  font-size: 4.5rem;
  font-style: italic;
  font-weight: 500;
  line-height: 4.8rem;
  letter-spacing: 0.1rem;
}

p {
  font-family: "Forma DJR Cyrillic Micro";
  font-size: 1.2rem;
  line-height: 130%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

.frame1 {
  width: 100%;
  height: 60vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .hi {
    margin-left: 5vw;
    margin-top: -5vw;

    .head {
      font-size: 5vw;
      line-height: 0.9;
      padding: 2 3vw;
      margin-top: 10vw;
    }
    .text {
      color: var(--GRAY, #787878);
      font-family: "Forma DJR Cyrillic Micro";
      font-size: 1.2vw;
      margin-top: 2vw;
    }
  }
  .us {
    width: 52vw;
    margin-right: 3vw;
  }
  .gotostatia {
    margin-top: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
    width: 26vw;
    height: 4.5vw;
    border-radius: 5vw;
    border: 0.09vw solid #000;
    background-color: #ff5c39;
    .goto {
      text-decoration: none;
      background-color: #ffff;
      color: #000;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: "Forma DJR Cyrillic Display";
      font-size: 1.5vw;
      letter-spacing: 0.05em;

      border-radius: 2vw;
      width: 18vw;
      height: 3vw;
      border: 0.09vw solid #000;
    }
    .arrow {
      width: 2vw;
      border-radius: 2vw;
      width: 3vw;
      height: 3vw;
      background-color: white;
      color: white;
      font-family: "Forma DJR Cyrillic Micro";
      font-size: 1vw;
    }
  }
}

.frame2 {
  height: 60vw;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;

  .inside {
    display: flex;
    margin-top: 5vw;
  }

  .cards {
    width: 100%;
    height: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;

    .backgroup {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      gap: 2vw;
      position: relative;
      .about1,
      .about2,
      .about4,
      .about5 {
        .minicard {
          height: auto;
          width: 44vw;
        }
        .she {
          width: 50vw;
          position: absolute;
          padding: 2vw 16vw;
          .head1 {
            font-size: 2.5vw;
            line-height: 0.9;
            text-decoration: none;
            color: var(--black, #000000);
          }
          .txt1 {
            color: var(--GRAY, #787878);
            font-family: "Forma DJR Cyrillic Micro";
            font-size: 1.2vw;
            margin-top: 1vw;
          }
        }
      }
    }
    .middle {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;

      .about3 {
        position: relative;
        width: 90vw;
        .bigcard {
          height: auto;
          width: 90vw;
        }
        .she2 {
          position: absolute;
          padding: 2vw 2vw;
          .head1 {
            font-size: 2.5vw;
            line-height: 0.9;
            text-decoration: none;
            color: var(--black, #000000);
          }
          .txt1 {
            color: var(--GRAY, #787878);
            font-family: "Forma DJR Cyrillic Micro";
            font-size: 1.2vw;
            margin-top: 1vw;
          }
        }
      }
    }
  }
}

.frame3 {
  height: 40vw;
  gap: 3vw;
  .whoback {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;

    .who {
      width: 20vw;
    }
    margin-top: 2vw;
    height: 30vw;
    background-color: #ff5c39;
    border-radius: 5vw;
    border: 0.09vw solid #000;
  }
}

.frame4 {
  width: 100%;
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .image {
    width: 90vw;
    margin-top: 2vw;
    display: flex;
    justify-content: center;
  }
}

.statiatitle {
  width: 100%;
  height: 30vw;
  background-color: #ff5c39;
  border-bottom-left-radius: 3vw;
  border-bottom-right-radius: 3vw;
  .statiatitletxt {
    padding: 12vw 5vw;
    font-size: 5vw;
    line-height: 0.9;
    color: white;
  }
}
.statiamain {
  margin: 5vw 20vw;
  display: flex;
  flex-direction: column;
  gap: 4vw;

  .statiahead {
    font-family: "Forma DJR Cyrillic Display";
    font-size: 2vw;
    letter-spacing: 0.05em;
  }
  .statiatxt {
    color: var(--GRAY, #787878);
    font-family: "Forma DJR Cyrillic Micro";
    font-size: 1.5vw;
    margin-top: 1vw;
  }
}
.button {
  margin-top: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vw;
  width: 26vw;
  height: 4.5vw;
  border-radius: 5vw;
  border: 0.09vw solid #000;
  background-color: #000000;
  .buttontxt {
    text-decoration: none;
    background-color: #ffff;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Forma DJR Cyrillic Display";
    font-size: 1.5vw;
    letter-spacing: 0.05em;
    border-radius: 2vw;
    width: 18vw;
    height: 3vw;
    border: 0.09vw solid #000;
  }
  .arrow {
    width: 2vw;
    border-radius: 2vw;
    width: 3vw;
    height: 3vw;
    background-color: white;
    color: white;
    font-family: "Forma DJR Cyrillic Micro";
    font-size: 1vw;
  }
}
.button:hover {
  background-color: #ff5c39;
}

.statiaitog {
  margin: 0vw 5vw;
  display: flex;
  flex-direction: column;
  height: 30vw;
  gap: 2vw;

  .statiaheaditog {
    font-family: "Forma DJR Cyrillic Display";
    font-size: 2vw;
    letter-spacing: 0.05em;
    margin: 2vw 15vw;
    position: relative;
    line-height: 3.5vw;
  }

  .itog {
    width: 100%;
    display: flex;
    justify-content: center;
    .itogback {
      width: 70vw;
      position: absolute;
    }
  }
}
.statiainterest {
  margin: 4vw 5vw -5vw;
  display: flex;
  flex-direction: column;
  height: 40vw;
  width: 100%;
  gap: 2vw;
  .interest {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1vw;
    .rectangle {
      width: 29vw;
      display: flex;
    }
  }
}
