.A_Logo {
  display: flex;
  background: #ffffff;
  width: 7vw;
  height: 2vw;
  border-radius: 2vw;
  justify-content: center;
  align-items: center;
  .logoimg {
    width: 5vw;
  }
  .A_Logo:hover {
    background-color: #ff5c39;
    border: 0.1vw solid #000;
  }
}
.A_HeaderTextStyle {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}

h2 {
  font-family: "SFT-Schrifted-Serif-T";
  line-height: normal;
}

.A_LogoStyle {
  width: 100%;
  font-family: "SFT-Schrifted-Serif-T";
  font-style: italic;
}
.subtitle1 {
  font-size: 2vw;
  -webkit-text-stroke: 1px;
}
.A_Circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 65%;
  width: 95%;
  height: 90%;
  margin: auto;
  z-index: 0;
}
.content {
  position: relative;
  z-index: 1;
}

nav {
  height: 80px;
  flex-direction: row;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 1px 1px 0 black;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    li a {
      text-decoration: none;
      color: #333;
    }

    li a:hover {
      text-decoration: none;
      color: #ff5c39;
    }
  }
}

.section {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: start;
  line-height: 1.5;
  h2 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 2rem;
    margin-top: 20px;
  }
  p {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.h {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.mission {
  background-color: #f2f8fd;
  width: fit-content;
  padding: 2vw;
  border-radius: 2vw;
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  div {
    flex: 1;
    text-align: start;
    width: 280px;
  }
}

.values {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
  margin-top: 30px;
  span {
    background-color: #ff5c39;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1rem;
  }
}
#logos {
  .text2block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 60px;
  }
  .logobig {
    width: 80%;
  }

  .mininoob2block {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    .mininoob-img {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
      padding: 30px 0 0px;
    }
    .mininoob2 {
      display: flex;
      flex-direction: column;
    }
  }
  .right_use {
    padding: 30px 0;
  }
  .wrong_use {
    padding: 30px 0px;
  }
  .logosmall {
    height: 100px;
  }
  .logosmall2 {
    width: 100px;
    padding: 20px 0px;
  }
  .mininoob-img {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px 0 0px;
  }
}
#colors {
  .colors-img {
    width: 80%;
  }
  .combine {
    display: flex;
    flex-direction: column;

    .allcolors {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      padding: 20px 0 0px;
    }
  }
  .colors-text {
    padding: 30px 0 0;
  }
  .color {
    height: 100px;
  }
}
.text2block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0 0;
}
.st_photos {
  width: 400px;
}

.footer1 {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
.typography-block {
  background-color: #f2f8fd;
  width: fit-content;
  padding: 2vw;
  border-radius: 2vw;
  margin-top: 2vw;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  align-items: center;
  .typography-S_MainBlock {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .maxititle {
      font-size: 4rem;

      font-family: "SFT-Schrifted-Serif-T";
      font-style: italic;
    }
    .alphabet {
      font-size: 1rem;
      font-style: italic;
      font-family: "SFT-Schrifted-Serif-T";
    }
  }
  .typography-block2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .maxititle2 {
      font-size: 3rem;
      font-family: "Forma DJR Cyrillic Display", sans-serif;
    }
    .alphabet2 {
      font-size: 1rem;
      font-weight: normal;
      font-family: "Forma DJR Cyrillic Display", sans-serif;
    }
  }
  .typography-block3 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .maxititle3 {
      font-size: 2rem;
      font-family: "Forma DJR Cyrillic Micro", sans-serif;
    }
    .alphabet3 {
      font-size: 1rem;
      font-weight: normal;
      font-family: "Forma DJR Cyrillic Micro", sans-serif;
    }
  }
}
.typography-block-mini {
  font-size: 0.8rem;
  font-weight: normal;
}

.style_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.place_photos {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 30px 0 0;
  flex-wrap: wrap;

  .place_photo1 {
    width: 300px;
  }
  .place_photo2 {
    width: 300px;
  }
  .place_photo3 {
    width: 300px;
  }
}
.setka_photos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;

  .place_setka {
    width: 700px;

    padding: 20px 0 0;
  }
  .place_setka2 {
    width: 300px;
    padding: 20px 0 0;
  }
  .place_post {
    width: 400px;

    padding: 20px 0 0;
  }
  .place_story {
    width: 300px;
    padding: 20px 0 0;
  }
}
.all-mockups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  .mockup {
    width: 40vw;
    min-width: 300px;
  }
}

.merch {
  width: 94%;
  padding: 20px 0 0;
}

.merch2 {
  width: 46%;
}

.merch_two {
  display: flex;
  gap: 20px;
  padding: 20px 0 0;
}
